
.logo{
    width: 150px;
    height: 51px;
    background:url('../static/kouton.png') no-repeat center;
    border-radius: 6px;
    margin: 5px 20px 5px 20px;
    float: left;
}
.header{ 
    width: 100%;
    font-size: 16px;
    background-color: red;
 }
.logonin{
    float: right;
    margin-right: 20px;
} 
#logined{
    position: relative;
    right: 0;
}